In [ ]:
# All the tasks below are to be found at https://github.com/jreades/i2p/blob/master/practicals/Practical-02-Foundations_1.ipynb

# Task 3: Python Variables

In [ ]:
#3.1 Variables and assignments

In [1]:
# below is to identify syntax errors

Pi = 3.14159
pi = 3.14159
3pi = 3.14159*3
pi_2 = 3.14159**2
pi^2 = 3.14159**2
my radius = 5
My_Radius = 5
class = 5

SyntaxError: invalid syntax (<ipython-input-1-0677c7e664ad>, line 3)

In [2]:
#Before running the code, work out what the output will be for each of the print commands 
#below when the code is executed?

x = '2'
y = z = 2

print(x * y)
print(x + x)
print(y * z)
print((y+z)**z)
print(y/(y+z))

print( type(x * y) )
print( type(y * z) )
print( type((y+z)**z) ) 
print( type(y/(y+z)) )

22
22
4
16
0.5
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
# 3.2 Operators and Precedence

In [3]:
x = 12
y = 10

In [4]:
z = x + y

In [5]:
print (z)

22

In [6]:
x = x + y

In [7]:
print (x)

22

In [8]:
y = z + y

In [9]:
print (y)

32

In [10]:
x = 1 + 2 * 3 / 4

In [11]:
print (x)

2.5

In [15]:
y = (1 + 2) * (3 / 4)

In [16]:
print (y)

2.25

In [17]:
z = 1 + 2 * (3 / 4)

In [18]:
print (z)

2.5

In [19]:
import math

In [ ]:
#3.3 Applying What We've Learned
#Given a sphere with a diameter of 12cm, calculate its volume:

In [20]:
print (math.pi)

3.141592653589793

In [61]:
v = (4/3)*math.pi*6^3  
# note that ^ is not a python -- see: operator:https://www.geeksforgeeks.org/python-operators/

TypeError: unsupported operand type(s) for ^: 'float' and 'int'

In [53]:
v = ((4/3)*3.141592653589793*6)**3

In [54]:
print(v)

15875

In [27]:
v=  (4/3)*(math.pi)*6**3

In [ ]:
# Now, given a sphere of volume 14,137cm$^3$ calculate its radius to the nearest whole number.

In [29]:
v= 14137

In [55]:
r=(0.75* (14137/math.pi))**(1/3)
r= round(r)

In [56]:
print (r)

15

# Task 4: Python Conditions

In [84]:
hours =11
#1. code prints 'hours are greater than zero' when hours is set to 10
if hours >10:
    print("hours are greater than zero")

hours are greater than zero

11

In [87]:
#2. Hours are greater than zero and Hours are less than 10 when hours is set to 2
hours=2
if hours==2:
    print("Hours are greater than zero") and ("Hours are less than 10")

Hours are greater than zero

In [89]:
#3. Hours are less than 10
hours=3
if hours<10:
    print("Hours are less than 10")

Hours are less than 10

In [4]:
#Flow control 
a = 2
b = 1

if a==b:
    print ("inside 1")
    print ("inside 2")
    print ("inside")
print ("after condition")

after condition

# Task 5: Python Logic

In [99]:
 x=0

if x > 0 and x < 5:
    print("Joe")

if x > 0 or x < 5:
    print("Aled")

if not(x > 0):
    print("Sarah")

Aled
Sarah

In [ ]:
# 5.2 logic

In [100]:
for x in range(0,9):
    if x%2 == 0:
        print ("x is even")
    else:
        print("x is odd")
    print (x)

x is even
0
x is odd
1
x is even
2
x is odd
3
x is even
4
x is odd
5
x is even
6
x is odd
7
x is even
8

In [103]:
x = 4
y = 4

if x != y:                                 #line 1
    print("x is not equal to y")
    
    if(x > y):                             #line 4
        print("x is greater than y")
    
    else:                                  #line 7
        print("x is less than y")

else:
    print("x is equal to y")

x is equal to y

# Task 6: Python Lists

In [32]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

In [12]:
# Print out London from cities:
print (cities[1] )

London

In [15]:
# Print out Tokyo using *negative* indexing:
print (cities[-2])

Tokyo

In [13]:
# Print out Beijing and Tokyo using a list slice
print (cities[2:4])

['Beijing', 'Tokyo']

In [16]:
# Print out London to Delhi using a slice
print (cities[1:5]) # You could also do cities[1:4] but this way is neater

['London', 'Beijing', 'Tokyo', 'Delhi']

In [18]:
# Combine positive and negative indexing to print out London, Beijing and Tokyo using a list slice
print (cities[1:-1])

['London', 'Beijing', 'Tokyo']

In [23]:
# Print out the position of New York in the list by searching for it (i.e. you can't just type 0)
print (cities.index("New York"))

0

In [25]:
# Cause an 'IndexError: list index out of range' errr
print (cities[5])

IndexError: list index out of range

In [26]:
# Cause a ValueError using the city of Toronto
print (cities.index("Toronto"))

ValueError: 'Toronto' is not in list

In [33]:
#Sort the list in place in reverse alphabetical order (i.e. z...a) and then print the sorted list
print("\nReverse alphabetical:")
print(sorted(cities, reverse=True))

Reverse alphabetical:
['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

In [34]:
#Add the city of Toronto to the list after New York in the sorted list.
cities.insert(2,'Toronto')
print(cities)

['New York', 'London', 'Toronto', 'Beijing', 'Tokyo', 'Delhi']

In [37]:
#Pop New York from the list without specifying its index (i.e. the number 1 should not appear in your code). # Print out the value that you popped and the print out the cities list to check you've done the right thing...

cities.remove('New York')
print(cities)

['London', 'Toronto', 'Beijing', 'Tokyo', 'Delhi']

In [ ]:
#Finally, how can you check if the city of Moscow is in the list and let the user know if it is or is not?

In [40]:
if 'Moscow' in cities :
    print("Moscow is in the list")
else :
    print ("Not in list")

Not in list